@import '../variables.scss';

.CircleIconButton{
  background: $accent-1;
  transition: background-color 0.2s $transition-function;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;

  .icon{
    font-size: 2rem;
    color: $primary-1;
  }

  &:hover{
    background: $accent-2;
  }
}