@import '../variables.scss';

.NoteboardsList{
  padding: 2rem;
  //border: 1px solid red;

  .buttons{
    display: flex;

    > div{
      margin: 0.3rem;
    }
  }

  .list{
    .el{
      //border: 1px solid red;
      height: 3rem;
      margin: 0.5rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      background: $primary-1;
      box-shadow: $shadow-1;

      &:hover{
        background-color: $primary-3;
      }

      &.active{
        background-color: $accent-1;
        color: $primary-1;
      }
    }
  }
}