@import '../variables.scss';

.noteboards{
  height: calc(100vh - #{$navbar-height}) !important;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 340px 1fr;
  grid-template-rows: 1fr  2 * $navbar-height;
}

.notesControls{
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
}