@import '../variables.scss';

.Note{
  color: $primary-1;
  border-radius: $note-border-radius;
  
  width: $note-width;
  min-height: 220px;
  margin: 0.5rem;

  .nav{
    display: flex;
    justify-content: space-between;
    background-color: $darken;
    padding: 0.5rem;
    border-radius: 
    $note-border-radius $note-border-radius 0 0;

    > span{
      line-height: 1em;
    }
  }

  .title, .text{
    display: flex;
    justify-content: center;
    align-items: center;

    >textarea{
      resize: none;
      width: 100%;
      height: 100%;
      background: none;
      overflow: hidden;
      //border: 1px solid yellow;
      border: none;
      padding: none;
      

      &::placeholder{
        color: $lighten;
      }
      
      &:focus{
        border: none;
        outline: none;
      }
    }
  }

  .title{
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem 0.3rem 0.5rem;
    
    >textarea{
      text-transform: uppercase;
      height: 1.5em;
    }
  }

  .text{
    padding: 0.3rem 0.5rem 0.5rem 0.5rem;
  }
}

.icon{
  cursor: pointer;
  &:hover{
    transform: scale(1.2);
  }
}

.colorsMenu{
  z-index: 10;
  padding: 1rem;
  border-radius: $note-border-radius;
  margin: 0.5rem 0.5rem 0 0.5rem;
}