html,
body {
  padding: 0;
  margin: 0;
}

div{
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

button{
  outline: none;
  border: none;
}