//input
input, button, textarea{
  font: inherit;
  color: inherit;
}

input{
  padding: 0.6rem 1.2rem;
  border-radius: 100px;
  border: 1px solid $darken-2;
  outline: none;

  &:focus{
    border-color: $primary;
    color: $primary-dark;
  }

  &::placeholder{
    opacity: 1;
  }
}

textare::placeholder{
  opacity: 1;
}

label{
  color: $darken-3;
}

//buttons
.button{ 
  cursor: pointer;
  padding: 0.75em 1.5em;
  border: none;
  border-radius: $border-radius;
  background-color: $main-2;
  color: $contrast;

  &:hover{
    background-color: darken($main-2, $amount: 20%);
  }

  &:active{
    background-color: lighten($main-2, $amount: 10%);
  }
}

.button.primary{
  background-color: $primary;
  color: $main-1;

  &:hover{
    background-color: darken($primary, $amount: 20%);
  }

  &:active{
    background-color: lighten($primary, $amount: 10%);
  }
}

.button.alternate{
  $border-thickness: 1px;

  background-color: $main-1;
  border: $border-thickness solid $primary;
  color: $primary-dark;

  &:hover{
    $c: darken($primary, $amount: 20%);
    background-color: $c;
    border: $border-thickness solid $c;
    color: $main-1;
  }

  &:active{
    $c: lighten($primary, $amount: 10%);
    background-color: $c;
    border: $border-thickness solid $c;
  }
}

.button.danger{
  background-color: $danger;
  color: $main-1;

  &:hover{
    background-color: darken($danger, $amount: 20%);
  }

  &:active{
    background-color: lighten($danger, $amount: 10%);
  }
}

.form-window{
  padding: 2rem 10rem;
  border-radius: $border-radius;
  background: $main-2;
  border: 1px solid $darken-2;
  box-shadow: $shadow-1;
}

.form-default{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;

  .errorMessage{
    color: red;
  }
}

.form-item{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.form-column{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}