/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $darken-1; 
  border-radius: 100px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $darken-2;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary; 
}