//alpha vars
$blue: #407ee3;
$buttonColor: #60788a;

//vars
$main-1: #F4F4F4;
$main-2: #E0E0E0;
$contrast: #070707;
$primary: #497CDF;
$primary-dark: #1B469D;
$danger: #D00000;
$gray: #CCC;
$darken-1: rgba(0, 0, 0, 0.15);
$darken-2: rgba(0, 0, 0, 0.30);
$darken-3: rgba(0, 0, 0, 0.60);
$lighten: rgba(255, 255, 255, 0.5);

$darken-percentage: 20%;
$lighten-percentage: 10%;

$shadow-1: 0px 2px 4px rgba(0, 0, 0, 0.25);
$shadow-2: 0px 2px 8px rgba(0, 0, 0, 0.35);
$shadow-3: 0px 2px 12px rgba(0, 0, 0, 0.50);

$nav-height: 60px;
$footer-height: 20px;
$NotesControls-height: 64px;
$Note-width: 260px;
$NoteboardsList-width: 380px;

$padding-sides: 64px;

$border-radius: 16px;

$fonts-basic: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$font-primary: 'Quicksand';

$font-size: 16px;