html,
body {
  padding: 0;
  margin: 0;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div, main, nav, footer, header{
  position: relative;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: inherit;
    margin: 0;
  }
}