.ConfirmModal{
  display: grid;
  gap: 1rem;
  max-width: 500px;

  .question{
      font-size: 1rem;
      text-align: center;
  }

  .buttonsPanel{
      display: flex;
      justify-content: center;
      gap: 0.5rem;
  }
}