@import './variables.scss';
@import './basic.scss';
@import './forms';

html{
  font-family: $font-primary, $fonts-basic;
  font-size: $font-size;
}

body{
  width: 100%;
}

#root{
  height: 100vh;
  background: $primary-2;
  display: grid;
  grid-template-rows: $navbar-height 1fr;
  overflow: hidden;
}

#page{
  display: grid;
  overflow-y: auto;
  grid-template-rows: 1fr $footer-height;
}

main{
  z-index: 2;
}

.icon{
  font-size: 1.5rem;
  user-select: none;
}

.icon-button{
  cursor: pointer;
  transition: transform .1s $transition-function;
  &:hover{
    transform: scale(1.2);
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.text-center{
  text-align: center;
}

@for $i from 1 through 6 {
  h#{$i} {
    padding: 1rem 0;
  }
}

.headline{
  font-family: $font-headlines, $font-primary, $fonts-basic;
}

.link{
  text-decoration: underline;
  color: $accent-1;

  &:visited{
    color: $accent-2;
  }

  &:hover{
    color: $primary-1;
  }
}

a.active{
  color: $accent-1;
}

footer{
  z-index: 10;
  width: 100%;
  height: $footer-height;
}

.testBorder{
  box-shadow: inset 0px 0px 0px 4px #FF0000;
}