@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import './variables';
@import './basic';
@import './forms';

html{
  font-family: $font-primary, $fonts-basic;
  font-size: $font-size;
}

//-------------------
//Global classes

.text-center{
  text-align: center;
}

//bootstrap like container
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
//---------------------------