@import './variables';
@import './mixins';

.NoteboardsList{
  grid-column: 1/5;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-gap: 1rem;
  overflow-y: hidden;
  overflow-x: visible;

  > * {
    padding-left: 1rem;
  }
}

.controlPanel{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.noteboardsList{
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
}

.noteboard{
  @include flex-center();
  cursor: pointer;
  background-color: $main-1;
  box-shadow: $shadow-1;
  padding: 1rem 0;
  width: 280px;
  border-radius: 100px;

  &.active{
    background-color: $primary;
    color: $main-1;
  }

  &:not(.active):hover{
    background-color: darken($main-1, $darken-percentage);
  }
}

.noteboardsHeadline{
  color: $darken-2;
}