@import './variables';
@import './mixins';

.NotesContainer{
  padding-top: 3rem;
  padding-left: 3rem;
  grid-column: 2/3;
  grid-row: 1/2;
  overflow-y: auto;
}

.Notes{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

.NotesControls{
  @include flex-center();

  //background: purple;

  grid-column: 1/3;
  grid-row: 2/3;
}

// .Note{
//   display: flex;
//   flex-direction: column;
//   gap: 0.5rem;
//   > * {
//     box-shadow: $shadow-1;
//   }
// }