.NoteboardControls{
  display: flex;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}

.editionModal{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  .editionModalHeadline{
    font-size: 1.2rem;
    padding: 1rem 0 0.5rem 0;
  }
  
  .editionModalButtons{
    display: flex;
    gap: 0.5rem;
  }
}