@import './variables';
@import './mixins';

.noteboardContainer{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.noteboard{
  @include flex-center();
  cursor: pointer;
  background-color: $main-1;
  box-shadow: $shadow-1;
  width: 280px;
  height: 50px;
  border-radius: 100px;

  &.active{
    background-color: $primary;
    color: $main-1;
  }

  &:not(.active):hover{
    background-color: darken($main-1, $darken-percentage);
  }
}

.noteboardsHeadline{
  color: $darken-2;
}