@import './variables';

.Noteboards{
  padding: 2rem $padding-sides 0 $padding-sides;

  //background: skyblue;

  display: grid;
  grid-template-columns: $NoteboardsList-width 1fr;
  grid-template-rows: 1fr $NotesControls-height;
  overflow-y: hidden;
}