$primary-1: #FEFEFE;
$primary-2: #F4F4F4;
$primary-3: #DEDEDE;
$secondary-1: #212121;
$accent-1: #497CDF;
$accent-2: #1C469C;
$darken: #00000033;
$lighten: #ffffff90;

$fonts-basic: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$font-primary: 'Quicksand';
$font-headlines: 'Ubuntu';
$font-size: 18px;

$orange: #de8540;
$blue: #407fde;
$pink: #d4195e;
$green: #409147;

$navbar-height: 60px;
$footer-height: 24px;

$transition-function: cubic-bezier(0.215, 0.610, 0.355, 1);


//Material shadows
$shadow-1: 0 2px 2px 0 rgba(0,0,0,0.14),
            0 3px 1px -2px rgba(0,0,0,0.12),
            0 1px 5px 0 rgba(0,0,0,0.2);
$shadow-2: 0 4px 5px 0 rgba(0,0,0,0.14),
              0 1px 10px 0 rgba(0,0,0,0.12),
              0 2px 4px -1px rgba(0,0,0,0.3);
$shadow-3: 0 8px 17px 2px rgba(0,0,0,0.14),
              0 3px 14px 2px rgba(0,0,0,0.12),
              0 5px 5px -3px rgba(0, 0, 0, 0.2);
$shadow-4: 0 16px 24px 2px rgba(0,0,0,0.14),
              0 6px 30px 5px rgba(0,0,0,0.12),
              0 8px 10px -7px rgba(0,0,0,0.2);
$shadow-5: 0 24px 38px 3px rgba(0,0,0,0.14),
              0 9px 46px 8px rgba(0,0,0,0.12),
              0 11px 15px -7px rgba(0,0,0,0.2);